<p>estadisticas works!</p>
<!-- Header -->
<section class="categories-header py-5 bg-darker">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8">
        <h1 class="title-gaming mb-4">Categorías de Juegos</h1>
        <p class="lead text-secondary">
          Explora nuestra colección organizada por géneros gaming. 
          Desde intensos Battle Royale hasta creativos mundos Sandbox.
        </p>
      </div>
    </div>
  </div>
</section>